@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700|Source+Code+Pro|Bitter);

/***************************** Layout ****************************************/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#cloud {
  max-width: 700px;
  height: 500px;
}

.header {
  position: relative;
  top: 0px;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 2px solid #333;
  padding: 0;
  height: 3.5em;
}

.menu {
  z-index: 1000000;
  width: 100%;
  position: absolute;
  display: block;
  margin-top: 3.5em;
  background-color: #fdfdfd;
}

.header_left, .menu-button {
  display: inline;
  position: absolute;
}

.header_left {
  left: 0;
  bottom: 0.25em;
}

.menu-button {
  right: 0;
  bottom: 0.25em;
}

.header_right {
  display: none;
}

img {
  display: block;
  margin: 0 auto;
}

ul.nav {
  list-style: none;
}

li.nav {
  text-align: center;
  padding: 1em 0 1em 0;
}

a.nav,a.name_nav {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
  text-decoration: none;
}

@media only screen and (min-width: 800px) {
  .header {
    height: 150px;
  }
  .header_right {
    position: absolute;
    display: inline;
    right: 0;
    bottom: 0.25em;
    margin: 0;
  }
  img {
    max-width: 590px;
  }
  .menu {
    display: none;
  }
  ul.nav {
    display: inline;
  }
  li.nav {
    display: inline;
    padding-right: 10px;
  }
  
  .menu-button {
    display: none;
  }
  
  a.name_nav, a.nav {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 600px) {
  img {
    max-width: 300px;
  }
}

.container {
  position: absolute;
  top: 0;
  width: 95%;
  padding: 0px 0px 0px 0px;
}

section {
  max-width: 700px;
  margin: 0 auto;
  padding: 5px 10px 0px 10px;
}

aside {
  float: right;
  max-width: 200px;
  top: 3em;
}

aside.hidden {
  visibility: hidden;
}

footer {
  position: relative;
  display: block;
  bottom: 0;
  margin: 0 auto;
  max-width: 700px;
  height: 2rem;
  padding: 100px 10px 20px 10px;
}

ul,li.tags {
  display: inline;
  margin: 0;
  padding: 0;
}


a.name_nav:hover {
  font-weight: 400;
  color: #1b85b8;
}

a.nav:hover {
  font-weight: 400;
  color: #1b85b8;
}

a.selected {
  font-weight: 400;
  color: #125d80;
}

a.selected:hover {
  font-weight: 400;
  color: #125d80;
}

article {
  padding: 10px 0px 50px 0px;
}

/********************************** Typography *******************************/

h1,h2,h3 {
  /*font-family: 'Roboto';*/
  font-family: Bitter, serif;
  font-weight: 400;
  line-height: 1.2;
  /*font-weight: 700;*/
  color: #333;
  padding: 1em 0 0 0;
  margin: 0px;
}

h1.name {
  display: inline;
  font-family: 'Roboto';
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px;
}

body {
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  font-family: 'Roboto';
  background-color: #fdfdfd;
  color: #333;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin-left: 20px;
}

.heading {
  display: block;
}

a.post_title {
  color: #333;
  text-decoration: none;;
}

a.post_title:hover {
  color: #333;
}

h1.heading {
  font-size: 3em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5 em;
}

h2.heading {
  font-size: 2em;
}

small.heading {
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
  font-weight: 300;
  display: block;
  color: #666666;
}

a.comment, a.comment:hover {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #666666;
  text-decoration: none;
}

p.footer {
  font-family: 'Roboto', sans-serif;
  color: #666666;
  font-size: 0.75em;
  display: block;
  margin: 0;
  line-height: 1.5;
}

a {
  color: #1b85b8;
  text-decoration: underline;
}

a:hover {
  color: #125d80;
}

a.tags {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

a.page_button {
  color: #1b85b8;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  border: 1px solid #1b85b8;
  border-radius: 4px;
  moz-border-radius: 4px;
  webkit-border-radius: 4px;
}

a.page_button:hover {
  color: #125d80;
  border: 2px solid #125d80;
}

a.dead_button {
  color: #c1c1c1;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  moz-border-radius: 4px;
  webkit-border-radius: 4px;
}

a.projects {
  color: #333333;
  font-size: 1.3em;
}

a.projects:hover {
  color: #666666;
}

small.tag_date {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  display: block;
  font-style: italic;
  color: #666666;
}

a.tag_list {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: #1b85b8;
  text-decoration: none;
}

a.tag_list:hover {
  color: #125d80;
}

table {
  font-family: 'Roboto', sans-serif;
  color: #333;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border-spacing: 0;
}

th {
  background-color: #5a5255;
  color: #fdfdfd;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #c3cb71;
}

tr.invisible {
  background-color: #fdfdfd;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 0.9em;
  background-color: #f0f0f0;
  color: #ae5a41;
  padding: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

blockquote {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  line-height: 0.5;
  color: #666;
  font-weight: 400;
  background-color: #f0f0f0;
  margin-left: 0px;
  margin-right: 0px;
  padding: 1em 2em 1em 2em;
  border-left: 5px solid #666666;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

pre {
  font-family: 'Source Code Pro', monospace;
  font-weight: 200;
  font-size: 0.9em;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

figcaption {
  font-style: italic;
  font-size: .8em;
  text-align: center;
}

ul.tag_list {
  list-style-type: none;
}

button#menu-open {
  background-color: #fdfdfd;
  border: 1px solid #333333;
  border-radius: 4px;
  padding: 1em;
}

.footnote {
  font-size: .9em;
}

.footnote ol {
  margin: 0;
  padding: 0;
}
