html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1em;
}

.nav-menu {
  display: none;
  position: absolute;
  height: 100%;
  z-index: 1000;
  background-color: $five;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-menu ul, li {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

.nav-menu ul {
  padding: 5em 0 0 0;
}

.nav-menu li {
  padding: 1em 0 0 0;
}

.nav-button {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 10000;
}

#about {
  margin: 0;
  padding: 3em 0 0 0;
  position: relative;
  height: auto;
  text-align: center;
  background-image: url('/static/img/portfolio/library-background-1125x750.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.project {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.description {
  clear: both;
  margin: 0 auto;
  max-width: 600px;
  padding: 5em 1em 5em 1em;
}

.project-description, .project-screenshots {
  -webkit-box-flex: 1 100%;
  -moz-box-flex: 1 100%;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  padding: 2em 1em 2em 1em;
  margin: auto;
}

#nav-menu {
  transition: all 0.4s ease;
}

footer {
  padding: 1em;
}

@media only screen and (min-height: 750px) {
  #about {
    background-image: url('/static/img/portfolio/library-background-1163x775.png');
  }
}

@media only screen and (min-height: 776px) {
  #about {
    background-image: url('/static/img/portfolio/library-background-2250x1500.png');
  }
}

@media only screen and (min-width: 801px) {
  #about {
    height: 100%;
  }
  
  .nav-menu {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
    padding: 0 0 1em 0;
    height: auto;
    background-color: Transparent;
  }

  .nav-menu ul, .nav-menu li, .sticky ul, .sticky li {
    display: inline;
    text-align: left;
  }

  .nav-menu li, .sticky li {
    padding: 0 1em 0 1em;
  }

  .nav-button {
    display: none;
  }
  
  .project-description, .project-screenshots {
    -webkit-box-flex: 1 50%;
    -moz-box-flex: 1 50%;
    -webkit-flex: 1 50%;
    -ms-flex: 1 50%;
    flex: 1 50%;
    padding: 5em 1em 5em 1em;
  }
}
