body {
  font-size: 1em;
  font-family: $serif-font;
  line-height: 1.5em;
}

.title-left {
  color: $light-grey;
}

.content-right {
  color: $dark-grey;
}

.sub {
  line-height: 1;
  display: block;
  font-style: italic;
  font-weight: 400;
  font-size: 1.75em;
  padding: 0.5em;
  margin-top: -1em;
}

h1 {
  line-height: 1;
  font-weight: 400;
  font-size: 4em;
  padding: 0;
}

ul.nav {
  display: block;
  list-style-type: none;
  margin: 0;
  font-family: $sans-serif-font;
  font-weight: 100;
  padding: 0.5em 0 1em 0;
}

ul.icons {
  font-size: 1.5em;
}

.nav li {
  display: inline;
  padding: 0.25em;
}

.content-right h2 {
  color: $dark-grey;
  font-family: $sans-serif-font;
  font-weight: 100;
  font-size: 1.5em;
  border-left: 1em solid $primary;
  padding: 0 0 0 1em;
  transform: rotate(-90deg);
}

h2.divider-text {
  margin: 0 auto;
  color: $light-grey;
  font-size: 5em;
  font-family: $sans-serif-font;
  font-weight: 100;
  padding: 0;
  border: 0;
  transform: none;
}

.content-right h3 {
  line-height: 0;
  font-weight: 400;
  font-style: italic;
  font-size: 1.4em;
  padding: 0.5em 0 0 0;
  margin: 0.5em 0 0.5em 0;
}

a.nav-link {
  color: $light-grey;
  text-decoration: none;
  padding: 0.25em;
  line-height: 2;
  border-bottom: 0px solid $dark-grey;
  transition-property: border-bottom;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  &:hover {
    border-bottom: 4px solid $primary;
  }
}

a.icon {
  font-size: 18px;
  color: $dark-grey;
  background-color: $light-grey;
  padding: 8px 10px 8px 10px;
  border: 2px solid $light-grey;
  @include border-radius(50%);
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
  &:hover {
    color: $light-grey;
    background-color: $dark-grey;
  }
}

.footer {
  text-align: center;
  font-family: $sans-serif-font;
  font-size: 0.8em;
  font-weight: 100;
}

.section-content a {
  color: $primary;
  &:hover {
    color: $darker-primary;
  }
}

.content-sub {
  line-height: 0;
  display: block;
  font-size: 0.9em;
  font-family: $serif-font;
  font-weight: 400;
  padding: 0 0 1em 0;
}

.content-sub a {
  font-family: inherit;
}

a.header-link {
  color: inherit;
  font-style: inherit;
  text-decoration: none;
  transition-property: padding-right;
  transition-duration: 1s;
  transition-timing-function: linear;
  &:hover {
    color: $dark-grey;
  }
}

.pad-left {
  padding-left: 0.5em;
}

dt {
  font-style: italic;
}

#nav-close {
  display: none;
  color: $light-grey;
}

@media only screen and (min-width: 801px) {
  h1 {
    font-size: 5em;
  }

  .sub {
    font-size: 2em;
  }
  dd, dt {
    padding: 0.5em 0 0.5em 0; 
  }

  dd {
    font-weight: 400;
    margin-left: 210px;
  }

  dt {
    float: left;
    clear: left;
    width: 200px;
    font-weight: 400;
    font-style: italic;
  }
}

.mobile-nav-menu {
  color: $dark-grey;
  font-size: 1.5em;
}

#mobile-nav {
  background-color: $primary;
  color: $light-grey;
}

ul.mobile-menu {
  padding: 3em 0 0 0;
  list-style-type: none;
}

.mobile-menu li {
  text-align: center;
  width: 100%;
  padding: 1em;
}

.mobile-menu a {
  color: $light-grey;
  font-family: $sans-serif-font;
  font-size: 3em;
  font-weight: 100;
  text-decoration: none;
  &:hover {
    border-bottom: 2px solid $darker-primary;
  }
}

#nav-open {
  display: none;
}
